<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381030119583-smfd6n93mhg16on3hktbpvrk8ucgg2tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381030119583-smfd6n93mhg16on3hktbpvrk8ucgg2tv</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6aorF8d-mODkv7WdKhVji4sixFmxExA</string>
	<key>GCM_SENDER_ID</key>
	<string>381030119583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CanTin.MeFit</string>
	<key>PROJECT_ID</key>
	<string>mefit-bec2f</string>
	<key>STORAGE_BUCKET</key>
	<string>mefit-bec2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381030119583:ios:453447ce1dcc2a852b0aaa</string>
	<key>DATABASE_URL</key>
	<string>https://mefit-bec2f.firebaseio.com</string>
</dict>
</plist>